.button {
    -fx-background-color: #4b525e;
    -fx-text-fill: white;
}

.root {
    -fx-background-color: #eaeaea;
}

.combo-box {
    -fx-background-color: rgb(53, 54, 68);
}

.button:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.button:hover {
    -fx-background-color: #383838;
    -fx-scale-y: 1.1;
}

#amount1TextArea {
    -fx-border-color: rgb(53, 54, 68);
    -fx-background-color: #ffffff;
}

#amount2TextArea {
    -fx-border-color: rgb(53, 54, 68);
    -fx-background-color: #ffffff;
}

#switchArrows {
    -fx-background-color: #4b525e;
    -fx-text-fill: white;
}

#switchArrows:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#switchArrows:hover {
    -fx-background-color: #383838;
    -fx-scale-y: 1.1;
}

